<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        margin: 20px;
    }
</style>

<body>
    <div class="container">
        <p><marquee direction="left">check this out!</marquee></p>
        <marquee direction="right"><a href="https://github.com/arhylsion/Wapho">GutHib</a></marquee>
    </div>

</body>

</html>